body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.semaforo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 40px;
    background-color: black;
    width: 100px;
    height: 200px;
}

.semaforo div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
    transition: background-color 0.2s;
}

#vermelho.ativo {
    background-color: red;
}

#amarelo.ativo {
    background-color: yellow;
}

#verde.ativo {
    background-color: green;
}
