/* reset em todos os elementos*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* pra nao ultrapassar o tamanho dos elementos */
}

/* estilização do corpo da página*/

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* telas grandes (minimo de 1200 pixels de largura), apenas com limite de largura do conteúdo do header e da section de produtos */

@media (min-width: 1200px) {
    .conteudo-header {
        max-width: 60%;
    }

    #home .conteudo,
    #produtos .container {
        max-width: 60%;
    }
}

/* telas médias (entre 855px e 1200px de largura), com aumento da largura do header, do conteúdo, tamanho do título reduzido e ajuste no espaçamento da nav */

@media (min-width: 855px) and (max-width: 1200px) {
    .conteudo-header {
        max-width: 80%;
    }

    #home .conteudo,
    #produtos .container {
        max-width: 80%;
    }

    header h1 {
        font-size: 1.8em;
    }

    nav ul li {
        margin-left: 15%;
    }
}

/* telas pequenas */

@media (max-width: 854px) {
    .conteudo-header {
        align-items: flex-start;
        flex-direction: column;
    }

    nav ul {
        flex-direction: flex-start;
        justify-content: center;
        margin-top: 10px;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    header h1 {
        font-size: 1.5em;
    }

    /*.produto-lista {
        display: grid;
        grid-template-columns: repeat(auto-fit(2, 1fr));
        gap: 5px;
    }*/

    #home .conteudo,
    #produtos .container {
        overflow: auto; /**/
        max-width: 70%;
        padding: 2%;
    }

    .produto-item {
        max-width: 70%;
        padding: 2%;
        font-size: 0.9em;
    }

    .produto-item img {
        max-width: 70%;
    }

    footer {
        margin-top: 3em;
        padding: 10 0px;
    }
}

/* estilização do header, nav, conteúdo e footer */

header {
    background-color: #333;
    color: #fff;
    padding: 5% 0;
}

.conteudo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 0 5%;
}

header h1 {
    font-size: 2em;
}

nav ul {
    display: flex;
    list-style: none; /* tirar as bolinhas */
}

nav ul li {
    margin-left: 20%;
}

nav ul li a {
    color: #fff;
    text-decoration: none; /* tirar o sublinhado dos links*/
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

#home .conteudo {
    border-radius: 10px;
    max-width: 70%;
    margin: 5% auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#produtos .container {
    max-width: 70%;
    margin: 5% auto;
    padding: 5%;
}

.produto-lista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* ajustar o grid na tela */
    gap: 2%;
}

.produto-item {
    background: #fff;
    border-radius: 2%;
    padding: 10%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.produto-item img {
    max-width: 100%;
    border-radius: 2%;
}

.produto-item h3 {
    margin: 20px 0 10px;
    font-size: 1.2em;
}

.produto-item p {
    font-size: 1em;
    color: #555;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    margin-top: 10em;
    position: relative;
    clear: both; /* garantia de que o footer vai ficar abaixo do conteúdo */
}

footer p {
    margin: 0;    
}