* {
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightgray;
    padding: 5px;
}

h1 {
    font-size: 25px;
}

p {
    font-size: 15px;
}